* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(200, 231, 231);
}

.header-box {
  height: auto;
  width: 100%;
  background-color: rgb(200, 231, 231);
  border-bottom: 4px solid rgb(29, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}

.header-box > span {
  height: 50px;
  width: auto;
  margin-bottom: 12px;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.header-box img {
  border-radius: 12px;
  height: 100px;
  margin-bottom: 4px;
}

.add-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  margin: 12px;
}

.add-form > h3 {
  text-align: center;
  font-size: 28px;
  color: rgb(124, 18, 223);
}

.add-form select {
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.add-form input {
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-indent: 2px;
  font-size: 16px;
}

.add-form button {
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(124, 18, 223);
  color: aliceblue;
  font-size: 24px;
}

button:hover {
  background: rgb(70, 6, 129);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22%;
  left: 30%;
  width: 60%;
  /* background: black; */
}

.list ul {
  list-style: none;
  width: 50%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
}

li {
  background: rgb(124, 18, 223);
  height: 30px;
  width: 140px;
  border-radius: 12px;
  text-indent: 12px;
  margin: 12px;
  color: aliceblue;
  padding: 4px;
}

.footer {
  position: absolute;
  bottom: 40px;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
