* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(200, 231, 231);
}

.header-box {
  height: auto;
  width: 100%;
  background-color: rgb(200, 231, 231);
  border-bottom: 4px solid rgb(29, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}

.header-box > span {
  height: 50px;
  width: auto;
  margin-bottom: 12px;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.header-box img {
  border-radius: 12px;
  height: 100px;
  margin-bottom: 4px;
}
